server:
  port: 8081
spring:
  cloud: 
    config:
      server:
        git: 
          defautl-label: config-server
          uri: https://github.com/BryanS63/microservicios
          search-paths: config-data
  application:
    name: config-service